.item{
    box-sizing: border-box;
    height: 60px;
    border-radius: 10px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin: 20px 0;
}